@charset "UTF-8";

#wrap{
	height: 800px;
	width:1200px;
	margin:auto;
}

.signup-section {
	height:600px;
	background-color: #E0E0E0;
}

.signin-section {
	height:600px;
}

.buyer-tab {
	width: 200px;
}

.seller-tab {
	width: 200px;
}

.nav-tabs > .nav-item > .active{
	background-color: #0D6EFD;
}

.signup-card {
	width: 500px;
}

.signin-title {
	width: 600px;
}

.signin-card {
	width:500px;
}

.small-signin-card {
	width: 400px;
}

.buyerfind-section{
	height:600px;
}

.buyerfindid-card{
	width: 400px;
}

.buyerfindid-checkbox{
	width:500px;
}

.buyerresetpw-card{
	width: 400px;
}

.buyerresetpw-checkbox{
	width: 500px;
}

.id-tab {
	width: 200px;
}
.pw-tab {
	width: 200px;
}

/*buyer-personal.jsp*/

.menu-smallbox {
	height:50px;
	width:150px;
	color: white;
	font-weight: bold;
	font-size: medium;
}

.menu-smallbox:hover{
	background-color: #dddddd;
}

.content {
	height:500px;
	width: 600px;
}

.content > .otherbox{
	width: 500px;
}

/*buyer-attendence.jsp*/
.attendence-record{
	width:400px;
}

.calendar-container{
	width:400px;
}

/* cart.jsp */
.amountinput{
	width:50px;
}

.simple-paymentinfo1-card{
	height: auto;
}

/* nonPurchasing.jsp */
.simple-paymentinfo2-card{
	height: auto;
}

/* purchaseCompleted.jsp */
.purchaseCompleted-section {
	width:500px;
	background-color: #E0E0E0;
}

/* purchaseCompleted.jsp */
.purchaseCompleted-section{
	height: auto;
}