@charset "UTF-8";

#wrap{
	height: 800px;
	width:1200px;
	margin:auto;
}

header {
	height: 50px;
}

.signin-section {
	height:600px;
}


.signin-title {
	width: 600px;
}

.lookup-card {
	width:500px;
}

.small-lookup-card {
	width: 400px;
}

.non-member-find-section{
	height:600px;
}

.lookup-checkbox{
	width:500px;
}

.non-member-lookup-card{
	width: 500px;
}

.lookup-guide{
	width: 450px;
}
