@charset "UTF-8";

#wrap{
	height: 800px;
	width:1200px;
	margin:auto;
}

/* items.jsp */
.items-section {
	width: 1000px;
}

.payment-info{
	width: 500px;
}

.about-section{
	width: 1000px;
}

/* main.jsp */


.bannerImg{
	height: 300px;
	width: 800px;
}

