@charset "UTF-8";

#wrap{
	height: 800px;
	width:1200px;
	margin:auto;
}

header {
	height: 50px;
}

.signup-section {
	height:600px;
	background-color: #E0E0E0;
}

.signin-section {
	height:600px;
}

.buyer-tab {
	width: 200px;
}

.seller-tab {
	width: 200px;
}

.nav-tabs > .nav-item > .active{
	background-color: #0D6EFD;
}

.signup-card {
	width: 500px;
}

.signin-title {
	width: 600px;
}

.signin-card {
	width:500px;
}

.small-signin-card {
	width: 400px;
}

.sellerfind-section{
	height:600px;
}

.sellerfindid-card{
	width: 400px;
}

.sellerfindid-checkbox{
	width:500px;
}

.sellerresetpw-card{
	width: 400px;
}

.sellerresetpw-checkbox{
	width: 500px;
}

.id-tab {
	width: 200px;
}
.pw-tab {
	width: 200px;
}

/*seller-personal.jsp*/
.sellerPersonal-section {
	height: 800px;
}

.menu-smallbox {
	height:50px;
	width:150px;
	color: white;
	font-weight: bold;
	font-size: medium;
}

.menu-smallbox:hover{
	background-color: #dddddd;
}

.content {
	height:500px;
	width: 600px;
}

.content > .otherbox{
	width: 500px;
}
